---
layout: none
---
{% include head_en.html %}
			<div id="content">
				<h3>Introduction&#8250;&#8250;</h3>
				<p>The software platform for data processing and analysis of ionosphere and space weather is developed by {{ site.affiliation_en }}. This platform has kinds of functions, including downloading global GNSS data, preprocessing and processing data, graphical visualization of TEC maps, releasing the ionosphere products, real-time pushing operating status of data processing as well as updating website automatically.</p>
				<h3>Update&#8250;&#8250;</h3>
				<ul class="news">
				{% for item in site.data.update_en %}
					<li>{{ item.item }}</li>
				{% endfor %}
				</ul>
				<h3>Server Running State&#8250;&#8250;</h3>
				<p><strong>Memory Usage</strong>(Unit:GB)</p>
				<img class="gim_map" src="{{ site.imgurl }}/figure/mem_state.png" alt="Memory Usage" />
				<p><strong>Hard Disk Usage</strong>(Unit:TB)</p>
				<img class="gim_map" src="{{ site.imgurl }}/figure/disk_state.png" alt="Hard Disk Usage" />	
			</div>
{% include foot_en.html %}
