---
layout: none
---
{% include head_en.html %}
			<div id="content">
			<div id="tecmap">
				<div class="tip tip_en">Tip: Sometimes, real-time ionospheric tec maps over China and Australia would not be updated in time because of network problem.</div>
				<h3>Real-time Ionospheric Products&#8250;&#8250;</h3>
				<div class="item rt_mode">
					<img alt="IRI2012 real-time ionosphere graph" src="{{ site.imgurl }}/figure/tec_iri_rt.png?id={% for item in site.data.tecrtiri %}{{ item.timex }}{% endfor %}" />
				</div>
				<h3>Real-time Ionospheric VTEC Map over China&#8250;&#8250;</h3>
				<div class="item rt_mode">
					<img alt="CIM Ionospheric Real-time Graph" src="{{ site.imgurl }}/figure/cim_tec_rt.png?id={% for item in site.data.tecrtcim %}{{ item.timex }}{% endfor %}" />
				</div>	
				<h3>Real-time Ionospheric VTEC Map over Australia&#8250;&#8250;</h3>
				<div class="item rt_mode">
					<img alt="AIM real-time ionosphere graph" src="{{ site.imgurl }}/figure/aim_tec_rt.png?id={% for item in site.data.tecrtaim %}{{ item.timex }}{% endfor %}" />
				</div>			
				<h3>Ultra Fast Global Ionospheric Products&#8250;&#8250;</h3>
				<div class="item">
					<a href="{{ site.imgurl }}/figure/session14_tec.gif?id={% for item in site.data.ressession14 %}{{ item.timex }}{% endfor %}"><img src="{{ site.imgurl }}/figure/small_session14_tec.gif?id={% for item in site.data.ressession14 %}{{ item.timex }}{% endfor %}" alt="Globle Ionosphere Graph,TEC" /></a>
					<a href="{{ site.imgurl }}/figure/session14_residual.png?id={% for item in site.data.ressession14 %}{{ item.timex }}{% endfor %}"><img src="{{ site.imgurl }}/figure/small_session14_residual.png?id={% for item in site.data.ressession14 %}{{ item.timex }}{% endfor %}" alt="Globle Ionosphere Graph,Residual Frequency Distribution" /></a>
					<a href="{{ site.imgurl }}/figure/session14_residual_abs.png?id={% for item in site.data.ressession14 %}{{ item.timex }}{% endfor %}"><img src="{{ site.imgurl }}/figure/small_session14_residual_abs.png?id={% for item in site.data.ressession14 %}{{ item.timex }}{% endfor %}" alt="Globle Ionosphere Graph,The Frequency Distribution of Absolute Value of Residuals" /></a>
					<a href="{{ site.imgurl }}/figure/session14_obs_prn.png?id={% for item in site.data.ressession14 %}{{ item.timex }}{% endfor %}"><img src="{{ site.imgurl }}/figure/small_session14_obs_prn.png?id={% for item in site.data.ressession14 %}{{ item.timex }}{% endfor %}" alt="Globle Ionosphere Graph,Residual Frequency Distribution" /></a>
				</div>
				<h3>Rapid Global Ionospheric Products&#8250;&#8250;</h3>
				<div class="item">
					<a href="{{ site.imgurl }}/figure/session13_tec.gif?id={% for item in site.data.ressession13 %}{{ item.timex }}{% endfor %}"><img src="{{ site.imgurl }}/figure/small_session13_tec.gif?id={% for item in site.data.ressession13 %}{{ item.timex }}{% endfor %}" alt="Globle Ionosphere Graph,TEC" /></a>
					<a href="{{ site.imgurl }}/figure/session13_residual.png?id={% for item in site.data.ressession13 %}{{ item.timex }}{% endfor %}"><img src="{{ site.imgurl }}/figure/small_session13_residual.png?id={% for item in site.data.ressession13 %}{{ item.timex }}{% endfor %}" alt="Globle Ionosphere Graph,Residual Frequency Distribution" /></a>
					<a href="{{ site.imgurl }}/figure/session13_residual_abs.png?id={% for item in site.data.ressession13 %}{{ item.timex }}{% endfor %}"><img src="{{ site.imgurl }}/figure/small_session13_residual_abs.png?id={% for item in site.data.ressession13 %}{{ item.timex }}{% endfor %}" alt="Globle Ionosphere Graph,The Frequency Distribution of Absolute Value of Residuals" /></a>
					<a href="{{ site.imgurl }}/figure/session13_obs_prn.png?id={% for item in site.data.ressession13 %}{{ item.timex }}{% endfor %}"><img src="{{ site.imgurl }}/figure/small_session13_obs_prn.png?id={% for item in site.data.ressession13 %}{{ item.timex }}{% endfor %}" alt="Globle Ionosphere Graph,Satellite Observation Frequency Distribution" /></a>
				</div>
				<h3>Precise Global Ionospheric Products&#8250;&#8250;</h3>
				<div class="item">
					<a href="{{ site.imgurl }}/figure/session33_tec.gif?id={% for item in site.data.ressession33 %}{{ item.timex }}{% endfor %}"><img src="{{ site.imgurl }}/figure/small_session33_tec.gif?id={% for item in site.data.ressession33 %}{{ item.timex }}{% endfor %}" alt="Globle Ionosphere Graph,TEC" /></a>
					<a href="{{ site.imgurl }}/figure/session33_residual.png?id={% for item in site.data.ressession33 %}{{ item.timex }}{% endfor %}"><img src="{{ site.imgurl }}/figure/small_session33_residual.png?id={% for item in site.data.ressession33 %}{{ item.timex }}{% endfor %}" alt="Globle Ionosphere Graph,Residual Frequency Distribution" /></a>
					<a href="{{ site.imgurl }}/figure/session33_residual_abs.png?id={% for item in site.data.ressession33 %}{{ item.timex }}{% endfor %}"><img src="{{ site.imgurl }}/figure/small_session33_residual_abs.png?id={% for item in site.data.ressession33 %}{{ item.timex }}{% endfor %}" alt="Globle Ionosphere Graph,The Frequency Distribution of Absolute Value of Residuals" /></a>
					<a href="{{ site.imgurl }}/figure/session33_obs_prn.png?id={% for item in site.data.ressession33 %}{{ item.timex }}{% endfor %}"><img src="{{ site.imgurl }}/figure/small_session33_obs_prn.png?id={% for item in site.data.ressession33 %}{{ item.timex }}{% endfor %}" alt="Globle Ionosphere Graph,Satellite Observation Frequency Distribution" /></a>
				</div>
			</div>
			</div>
{% include foot_en.html %}
