---
layout: none
---
{% include head.html %}
			<div id="content">
			<div id="tecmap">
				<div class="tip">由于数据流中断或网络延迟等原因造成中国和澳大利亚区域实时电离层图偶尔不及时更新，请见谅.</div>
				<div class="tip {% for item in site.data.spaceweather %}{{ item.weather }}{% endfor %}">{% for item in site.data.spaceweather %}{{ item.report }}{% endfor %}</div>
				<h3>全球电离层实时产品&#8250;&#8250;</h3>
				<div class="item rt_mode">
					<img alt="IRI2012实时电离层图" src="{{ site.imgurl }}/figure/tec_iri_rt.png?id={% for item in site.data.tecrtiri %}{{ item.timex }}{% endfor %}" />
				</div>
				<h3>中国区域电离层实时产品&#8250;&#8250;</h3>
				<div class="item rt_mode">
					<img alt="CIM实时电离层图" src="{{ site.imgurl }}/figure/cim_tec_rt.png?id={% for item in site.data.tecrtcim %}{{ item.timex }}{% endfor %}" />
				</div>	
				<h3>澳大利亚区域电离层实时产品&#8250;&#8250;</h3>
				<div class="item rt_mode">
					<img alt="AIM实时电离层图" src="{{ site.imgurl }}/figure/aim_tec_rt.png?id={% for item in site.data.tecrtaim %}{{ item.timex }}{% endfor %}" />
				</div>			
				<h3>全球电离层超快速产品&#8250;&#8250;</h3>
				<div class="item">
					<a href="{{ site.imgurl }}/figure/session14_tec.gif?id={% for item in site.data.ressession14 %}{{ item.timex }}{% endfor %}"><img src="{{ site.imgurl }}/figure/small_session14_tec.gif?id={% for item in site.data.ressession14 %}{{ item.timex }}{% endfor %}" alt="全球电离层图,TEC" /></a>
					<a href="{{ site.imgurl }}/figure/session14_residual.png?id={% for item in site.data.ressession14 %}{{ item.timex }}{% endfor %}"><img src="{{ site.imgurl }}/figure/small_session14_residual.png?id={% for item in site.data.ressession14 %}{{ item.timex }}{% endfor %}" alt="全球电离层图,残差频率分布" /></a>
					<a href="{{ site.imgurl }}/figure/session14_residual_abs.png?id={% for item in site.data.ressession14 %}{{ item.timex }}{% endfor %}"><img src="{{ site.imgurl }}/figure/small_session14_residual_abs.png?id={% for item in site.data.ressession14 %}{{ item.timex }}{% endfor %}" alt="全球电离层图,残差绝对值频率分布" /></a>
					<a href="{{ site.imgurl }}/figure/session14_obs_prn.png?id={% for item in site.data.ressession14 %}{{ item.timex }}{% endfor %}"><img src="{{ site.imgurl }}/figure/small_session14_obs_prn.png?id={% for item in site.data.ressession14 %}{{ item.timex }}{% endfor %}" alt="全球电离层图,卫星观测频率分布" /></a>
				</div>
				<h3>全球电离层快速产品&#8250;&#8250;</h3>
				<div class="item">
					<a href="{{ site.imgurl }}/figure/session13_tec.gif?id={% for item in site.data.ressession13 %}{{ item.timex }}{% endfor %}"><img src="{{ site.imgurl }}/figure/small_session13_tec.gif?id={% for item in site.data.ressession13 %}{{ item.timex }}{% endfor %}" alt="全球电离层图,TEC" /></a>
					<a href="{{ site.imgurl }}/figure/session13_residual.png?id={% for item in site.data.ressession13 %}{{ item.timex }}{% endfor %}"><img src="{{ site.imgurl }}/figure/small_session13_residual.png?id={% for item in site.data.ressession13 %}{{ item.timex }}{% endfor %}" alt="全球电离层图,残差频率分布" /></a>
					<a href="{{ site.imgurl }}/figure/session13_residual_abs.png?id={% for item in site.data.ressession13 %}{{ item.timex }}{% endfor %}"><img src="{{ site.imgurl }}/figure/small_session13_residual_abs.png?id={% for item in site.data.ressession13 %}{{ item.timex }}{% endfor %}" alt="全球电离层图,残差绝对值频率分布" /></a>
					<a href="{{ site.imgurl }}/figure/session13_obs_prn.png?id={% for item in site.data.ressession13 %}{{ item.timex }}{% endfor %}"><img src="{{ site.imgurl }}/figure/small_session13_obs_prn.png?id={% for item in site.data.ressession13 %}{{ item.timex }}{% endfor %}" alt="全球电离层图,卫星观测频率分布" /></a>
				</div>
				<h3>全球电离层精密产品&#8250;&#8250;</h3>
				<div class="item">
					<a href="{{ site.imgurl }}/figure/session33_tec.gif?id={% for item in site.data.ressession33 %}{{ item.timex }}{% endfor %}"><img src="{{ site.imgurl }}/figure/small_session33_tec.gif?id={% for item in site.data.ressession33 %}{{ item.timex }}{% endfor %}" alt="全球电离层图,TEC" /></a>
					<a href="{{ site.imgurl }}/figure/session33_residual.png?id={% for item in site.data.ressession33 %}{{ item.timex }}{% endfor %}"><img src="{{ site.imgurl }}/figure/small_session33_residual.png?id={% for item in site.data.ressession33 %}{{ item.timex }}{% endfor %}" alt="全球电离层图,残差频率分布" /></a>
					<a href="{{ site.imgurl }}/figure/session33_residual_abs.png?id={% for item in site.data.ressession33 %}{{ item.timex }}{% endfor %}"><img src="{{ site.imgurl }}/figure/small_session33_residual_abs.png?id={% for item in site.data.ressession33 %}{{ item.timex }}{% endfor %}" alt="全球电离层图,残差绝对值频率分布" /></a>
					<a href="{{ site.imgurl }}/figure/session33_obs_prn.png?id={% for item in site.data.ressession33 %}{{ item.timex }}{% endfor %}"><img src="{{ site.imgurl }}/figure/small_session33_obs_prn.png?id={% for item in site.data.ressession33 %}{{ item.timex }}{% endfor %}" alt="全球电离层,卫星观测频率分布" /></a>
				</div>
			</div>
			</div>
{% include foot.html %}
