<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<title>Ionosphere and Space Weather.{{ site.affiliation_en }}</title>
<meta name="keywords" content="Globle,Ionosphere,Model,Electron Content,Spacial Weather,TEC,ionosphere,Wuhan University,Satellite Navigation,Positioning,Research Center" />
<meta name="description" content="Globle Ionosphere Model Service Platform,Ionosphere,Data Analysis Center" />
<link rel="shortcut icon" href="{{ site.url }}/favicon.ico" />
<script type="text/javascript" src="{{ site.url }}/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="{{ site.url }}/js/jquery.lightbox-0.5.min.js"></script>
<script type="text/javascript" src="{{ site.url }}/js/pace.min.js"></script>
<script type="text/javascript">
$(function() {
    $('#tecmap a').lightBox();
});
</script>
<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/jquery.lightbox-0.5.css" media="screen" />
<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/style.css" media="screen" />
<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/dataurl.css" media="screen" />
</head>
<body>
	<div id="main">
		<div id="head">
			<h1>Ionosphere and Space Weather</h1>
			<h2>{{ site.affiliation_en }}</h2>
		</div>
		<div id="nav">
			<a href="{{ site.url }}/index_en.html">Home</a>
			<a href="{{ site.url }}/news_en.html">News</a>
			<a href="{{ site.url }}/about_en.html">About</a>
			<a href="{{ site.url }}/research_en.html">Research</a>
			<a href="{{ site.url }}/product_en.html">Product</a>
			<a href="{{ site.url }}/report_en.html">Report</a>
		</div>
		<div id="cnt" class="clearfix">
			<div id="side">
				<h3>Latest News</h3>
				<ul class="news_nav">
					{% for post in site.blog limit:6 %}
					<li><a title="{{ post.date | date_to_string }}" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
					{% endfor %}
				</ul>			
				<h3>Ionospheric Products</h3>
				<ul class="product_nav">
					<li><a href="{{ site.url }}/product/session00_en.html">Real-time Products</a></li>
					<li><a href="{{ site.url }}/product/session14_en.html">Ultra Fast Products</a></li>
					<li><a href="{{ site.url }}/product/session13_en.html">Rapid Products</a></li>
					<li><a href="{{ site.url }}/product/session33_en.html">Rapid Precise Products</a></li>
					<li><a href="{{ site.url }}/product/session31_en.html">(Quasi)Final Products</a></li>
				</ul>
				<h3>Other Information</h3>
				<ul class="product_nav">
					<li><a href="#">Monthly Report of GIMs</a></li>
					<li><a href="{{ site.url }}/info/iaac_gim_en.html">Comparison of GIMs</a></li>
					<li><a href="{{ site.url }}/info/sta_num_en.html">Global GNSS Stations</a></li>
					<li><a href="{{ site.url }}/info/glo_en.html">GLONASS Satellite Channels</a></li>
				</ul>
			</div>
