<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<title>Ionosphere and Space Weather.{{ site.affiliation_en }}</title>
<meta name="keywords" content="Globle,Ionosphere,Model,Electron Content,Spacial Weather,TEC,ionosphere,Wuhan University,Satellite Navigation,Positioning,Research Center" />
<meta name="description" content="Globle Ionosphere Model Service Platform,Ionosphere,Data Analysis Center" />
<link rel="shortcut icon" href="{{ site.url }}/favicon.ico" />
<script type="text/javascript" src="{{ site.url }}/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="{{ site.url }}/js/jquery.lightbox-0.5.min.js"></script>
<script type="text/javascript" src="{{ site.url }}/js/pace.min.js"></script>
<script type="text/javascript">
$(function() {
    $('#tecmap a').lightBox();
});
</script>
<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/jquery.lightbox-0.5.css" media="screen" />
<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/style.css" media="screen" />
<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/dataurl.css" media="screen" />
</head>
<body>
	<div id="main">
		<div id="head">
			<h1>Ionosphere and Space Weather</h1>
			<h2>{{ site.affiliation_en }}</h2>
		</div>
		<div id="nav">
			<a href="{{ site.url }}/">Home</a>
			<a href="{{ site.url }}/news.html">News</a>
			<a href="{{ site.url }}/about.html">About</a>
			<a href="{{ site.url }}/research.html">Research</a>
			<a href="{{ site.url }}/product.html">Product</a>
			<a href="{{ site.url }}/report.html">Report</a>
		</div>
		<div id="cnt">
