---
layout: none
---
{% include top_en.html %}
			<div class="full">
				<h3>GLONASS Satellite Channels&#8250;&#8250;</h3>
				<p><strong>Update</strong>: {% include glo_update_time.html %} UTC.</p>
				<p><strong>Download</strong>: <a href="{{ site.url }}/glo.dat" title="glo.dat">{{ site.url }}/glo.dat</a></p>
				<p><strong>Format Description</strong></p>
				<table class="glo_format">
					<tr>
						<td>Date</td>
						<td>2013 03 01</td>
						<td>I4, 2(1X,I2) </td>
					</tr>
					<tr>
						<td>GFC</td>
						<td>01 -4 05 06 01 -4 05 06 -2 -7 00 -1 -2 -7 00 -1 04 -3 03 02 04 -3 03 02</td>
						<td>I2, 23(1X,I2)</td>
					</tr>
				</table>
				<p><strong>GLONASS Satellite Channels</strong></p>
				<table class="glodata">
					<tr>
						<th>Date</th>
						<th>Channels</th>
					</tr>
				{% for item in site.data.glo %}
					<tr>
						<td class="glo glo_date"><strong>{{ item.date }}</strong></td>
						<td class="glo glo_data">{{ item.data }}</td>
					</tr>
				{% endfor %}
				</table>
			</div>
{% include foot_en.html %}
