---
layout: none
---
{% include head.html %}
<link rel="stylesheet" type="text/css" href="../css/style.css" media="screen" />
			<div id="content">
				<h3>各分析中心产品比较&#8250;&#8250;</h3>
				<p><strong>全球电离层图统计信息</strong></p>
				<table class="iaac_gim">
					<tr>
						<th><strong style="text-decoration:underline">MEAN</strong></th>
						<th>[32.5,87.5]</th>
						<th>[-30.0,30.0]</th>
						<th>[-87.5,-32.5]</th>
						<th>[-87.5,87.5]</th>
					</tr>
				{% for item in site.data.diff_gim %}
					<tr>
						<td>{{ item.aff }}</td>
						<td>{{ item.N_mean }}</td>
						<td>{{ item.C_mean }}</td>
						<td>{{ item.S_mean }}</td>
						<td>{{ item.A_mean }}</td>
					</tr>
				{% endfor %}
				</table>

				<table class="iaac_gim">
					<tr>
						<th><strong style="text-decoration:underline">STD</strong></th>
						<th>[32.5,87.5]</th>
						<th>[-30.0,30.0]</th>
						<th>[-87.5,-32.5]</th>
						<th>[-87.5,87.5]</th>
					</tr>
				{% for item in site.data.diff_gim %}
					<tr>
						<td>{{ item.aff }}</td>
						<td>{{ item.N_std }}</td>
						<td>{{ item.C_std }}</td>
						<td>{{ item.S_std }}</td>
						<td>{{ item.A_std }}</td>
					</tr>
				{% endfor %}
				</table>

				<table class="iaac_gim">
					<tr>
						<th><strong style="text-decoration:underline">RMS</strong></th>
						<th>[32.5,87.5]</th>
						<th>[-30.0,30.0]</th>
						<th>[-87.5,-32.5]</th>
						<th>[-87.5,87.5]</th>
					</tr>
				{% for item in site.data.diff_gim %}
					<tr>
						<td>{{ item.aff }}</td>
						<td>{{ item.N_rms }}</td>
						<td>{{ item.C_rms }}</td>
						<td>{{ item.S_rms }}</td>
						<td>{{ item.A_rms }}</td>
					</tr>
				{% endfor %}
				</table>
			</div>
{% include foot.html %}
