---
layout: none
---
{% include head_en.html %}
			<div id="content">
				<h3>Number of Global GNSS Stations&#8250;&#8250;</h3>
				<p><strong>IGS Stations</strong></p>
				<img class="gim_map" src="{{ site.imgurl }}/figure/mgex_sta.png" alt="IGS Station Numbers" />
				<p><strong>IGS Stations in 2015</strong></p>
				<img class="gim_map" src="{{ site.imgurl }}/figure/mgex_sta_1year.png" alt="IGS Station Numbers" />
				<p><strong>MGEX Stations</strong></p>	
				<img class="gim_map" src="{{ site.imgurl }}/figure/mgex_bds.png" alt="MGEX Station Numbers" />		
				<p><strong>MGEX Stations in 2015</strong></p>
				<img class="gim_map" src="{{ site.imgurl }}/figure/mgex_bds_1year.png" alt="MGEX Station Numbers" />		
			</div>
{% include foot_en.html %}
